$color-background: #F9EEE9;
$color-primary: #0D0C0C;
$color-border: #000;
$color-outer-border: #1B5F85;

$breakpoints: (
        'small': 480px,
        'medium': 768px,
        'large': 1024px,
        'extra-large': 1280px
);
