#turn-off-adblocker {
  .whitelist-adblock {
    width: 100%;
    height: 250px;
  }

  .whitelist-adblock-gif {
    width: 100%;
    height: 400px;
  }

  .whitelist-adblock-text {
    font-family: "Aerle W01 Regular";
    font-size: 17px;
    font-weight: 400;
  }

  .text-bolded {
    font-weight: bold;
    font-size: 14px;
  }
}
